@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Raleway&display=swap";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a, a:visited {
  text-decoration: none;
}
a a:hover, a:visited a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
header {
  position: relative;
}
header .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #131111;
  font-size: 16px;
  line-height: 1.3;
  color: #7D7D7D;
  padding: 20px 0;
}
header .menu .header_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 2px 3px #000;
          box-shadow: 0 2px 3px #000;
  padding: 0 10px 10px 10px;
  display: none;
  color: #fff;
}
header .menu .header_button__menu-burger {
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 0px 0px 4px #000;
          box-shadow: 0px 0px 4px #000;
  padding: 3px;
}
header .menu .header_button__menu-burger div {
  border-bottom: 3px solid #000;
}
header .menu .header_button__menu-burger div:nth-child(1) {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
header .menu .header_button__menu-burger div:nth-child(3) {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
header .menu .header_button h2 {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
}
header .menu a {
  color: #7D7D7D;
}
header .menu a:hover {
  color: #D8D8D8;
}
header .menu .logo-with-languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .menu .logo-with-languages_logo {
  width: 62px;
  height: 30px;
}
header .menu .logo-with-languages_languages {
  margin-left: 40px;
  width: 57px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .menu .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .menu .nav-links a {
  margin-left: 24px;
}
header .menu .header_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header .menu .header_icons > div {
  width: 26px;
  height: 26px;
}
header .menu .header_icons > div > a {
  display: block;
  width: 26px;
  height: 26px;
}
header .menu .header_icons__loupe {
  background-image: url("../img/header/loupe.svg");
  position: relative;
}
header .menu .header_icons__phone {
  margin-left: 16px;
  position: relative;
  background-image: url("../img/header/telephone.svg");
}
header .menu .header_icons__statistics {
  margin-left: 16px;
  position: relative;
  background-image: url("../img/header/statistics.svg");
}
header .menu .header_icons__person {
  margin-left: 16px;
  position: relative;
  background-image: url("../img/header/person.svg");
}
header .menu .header_icons__basket {
  position: relative;
  margin-left: 37px;
  background-image: url("../img/header/shopping-cart.svg");
}

.red-ball {
  position: absolute;
  top: 181px;
  left: 15vw;
  width: 35vw;
  height: 634px;
  background: radial-gradient(50% 50% at 50% 50%, #F64F00 0%, rgba(246, 79, 0, 0) 100%);
  -webkit-filter: blur(32px);
          filter: blur(32px);
}

.blue-ball {
  position: absolute;
  top: 108px;
  left: 44vw;
  width: 45vw;
  height: 645px;
  background: radial-gradient(50% 50% at 50% 50%, #0178F3 0%, rgba(1, 120, 243, 0) 100%);
  -webkit-filter: blur(32px);
          filter: blur(32px);
}

.info-ball {
  cursor: pointer;
  position: absolute;
  width: 150px;
  height: 150px;
  background: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.in-catalog {
  left: 73vw;
  top: 168px;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 5px #000;
          box-shadow: 1px 1px 5px #000;
}
.in-catalog:hover {
  -webkit-box-shadow: 0px 0px 10px #ffffff;
          box-shadow: 0px 0px 10px #ffffff;
}
.in-catalog_text {
  width: 80%;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.do-test {
  left: 67vw;
  top: 657px;
}
.do-test_text {
  width: 80%;
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.do-test:hover {
  -webkit-box-shadow: 0px 0px 10px #ffffff;
          box-shadow: 0px 0px 10px #ffffff;
}

.more-about-company {
  border: 1px solid #F64F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F64F00;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.more-about-company_briefly {
  width: 80%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.more-about-company:hover {
  -webkit-box-shadow: 0px 0px 10px #000000;
          box-shadow: 0px 0px 10px #000000;
}

.discount {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  background: #FFFFFF;
}
.discount_text {
  cursor: pointer;
  color: #333333;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
}
.discount:hover {
  -webkit-box-shadow: 0px 0px 10px #ffffff;
          box-shadow: 0px 0px 10px #ffffff;
}

.connect {
  left: 74%;
  top: 20px;
  border: 1px solid #F64F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F64F00;
}
.connect_text {
  text-align: center;
  width: 80%;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.connect:hover {
  -webkit-box-shadow: 0px 0px 10px #000000;
          box-shadow: 0px 0px 10px #000000;
}

.button-shevron {
  cursor: pointer;
  position: absolute;
  width: 78px;
  height: 58px;
  border: 1px solid #7D7D7DCC;
  z-index: 2;
}
.button-shevron:hover {
  border: 1px solid black;
}
.button-shevron__left {
  border-radius: 30px 0px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button-shevron__left > div {
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url("../img/charger-slider/shevron.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.button-shevron__right {
  border-radius: 0px 30px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button-shevron__right > div {
  width: 18px;
  height: 18px;
  background-image: url("../img/charger-slider/shevron.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.charger-slider {
  height: 910px;
  background-color: #131111;
  padding-top: 40px;
}
.charger-slider_charger {
  width: 1096px;
  height: 117px;
  margin: 0px auto 22px;
}
.charger-slider_charger img {
  width: 100%;
  height: 100%;
}
.charger-slider_slider {
  position: relative;
  display: block;
}
.charger-slider_slider .button-shevron {
  top: 50%;
}
.charger-slider_slider .button-shevron__left {
  left: 18%;
}
.charger-slider_slider .button-shevron__right {
  right: 18%;
}
.charger-slider_slider__cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.charger-slider_slider__card {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 200px;
  width: 992px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.charger-slider_slider__card img {
  border-radius: 100px 0px;
}
.charger-slider_slider__card--active {
  opacity: 1;
}

.review {
  position: absolute;
  width: 281px;
  height: 269px;
  left: 70%;
  top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.review h3 {
  font-weight: 600;
  font-size: 24px;
  color: #F5F5F5;
  line-height: 120%;
  margin-bottom: 10px;
}
.review h4 {
  width: 177px;
  font-weight: 400;
  font-size: 16px;
  color: #F5F5F5;
  line-height: 22px;
  margin-bottom: 32px;
}

.rolling-inscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 1px solid #F5F5F5;
}
.rolling-inscription_text {
  position: absolute;
  width: 125px;
  height: 125px;
  color: #F5F5F5;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-animation: rotateText 10s linear infinite;
          animation: rotateText 10s linear infinite;
}
.rolling-inscription_play {
  position: absolute;
  cursor: pointer;
  width: 27px;
  height: 27px;
  background: url(../img/info-ball/play.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.rolling-inscription span {
  padding-top: 4px;
  position: absolute;
  left: 50%;
  font-size: 10px;
  -webkit-transform-origin: -1px 62px;
          transform-origin: -1px 62px;
}

@-webkit-keyframes rotateText {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateText {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.hockey-sticks-with-stripes {
  background-color: #131111;
  position: relative;
}

.main-info {
  position: relative;
  background-color: #131111;
  height: 3230px;
}
.main-info_ideal-hockey-stick {
  height: 971px;
}
.main-info_ideal-hockey-stick .charger {
  position: absolute;
  width: 1218px;
  height: 130px;
  margin: 0 auto;
  top: 505px;
  left: 0;
  right: 0;
}
.main-info_ideal-hockey-stick__text {
  padding-top: 100px;
}
.main-info_ideal-hockey-stick__text h3 {
  text-align: center;
  margin-bottom: 24px;
  color: #F5F5F5;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
}
.main-info_ideal-hockey-stick__text p {
  text-align: center;
  color: #D8D8D8;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.main-info_ideal-hockey-stick > img {
  position: absolute;
  top: 307px;
  left: 20vw;
  width: 1048px;
  height: 741px;
  z-index: 1;
}
.main-info_about-brand {
  height: 1323px;
  margin-left: 190px;
  padding: 0 100px;
  background: #F5F5F5;
  border-radius: 100px 0px 0px 100px;
  color: #333333;
}
.main-info_about-brand h3 {
  margin-left: 160px;
  padding-top: 100px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
}
.main-info_about-brand_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}
.main-info_about-brand_info__briefly {
  width: 100%;
  text-align: justify;
}
.main-info_about-brand_info__briefly p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}
.main-info_about-brand_info__expanded {
  width: 100%;
  text-align: justify;
}
.main-info_about-brand_info__expanded h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 16px;
}
.main-info_about-brand_info__expanded p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}
.main-info_about-brand_info__expanded img {
  width: 600px;
  height: 348px;
  border-radius: 60px 0px;
  margin-bottom: 56px;
}
.main-info_discount {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 117px 100px 0px 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main-info_discount__text {
  margin-right: 10px;
}
.main-info_discount__text h3 {
  font-weight: 700;
  font-size: 90px;
  line-height: 1.2;
  color: #131111;
  text-shadow: 1px 0px 2px #BCBCBC, 0px 1px 2px #BCBCBC, -1px 0px 2px #BCBCBC, 0px -1px 2px #BCBCBC;
  margin-bottom: 40px;
}
.main-info_discount__text h3 span:nth-child(4) {
  color: #fff;
  text-shadow: none;
}
.main-info_discount__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #BCBCBC;
  margin-bottom: 32px;
}
.main-info_discount__text input {
  color: #7D7D7D;
}
.main-info_discount__circle {
  border: 1px solid #333333;
  border-radius: 50%;
  min-width: 736px;
  height: 736px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-info_discount__circle_hidden {
  border-radius: 50%;
  overflow: hidden;
  width: 645px;
  height: 645px;
  background-image: url("../img/charger-slider/slider_hockey_player.png");
  background-position: -260px 0px;
  background-repeat: no-repeat;
}

.lightning {
  position: relative;
  display: inline-block;
  width: 105px;
  height: 105px;
  -webkit-transform: translate(-40px, 25px);
          transform: translate(-40px, 25px);
}
.lightning img {
  position: absolute;
  width: 64px;
  height: 63px;
  margin: auto auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.lightning div {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 105px;
  background: radial-gradient(50% 50% at 50% 50%, #0178F3 0%, rgba(1, 120, 243, 0) 100%);
  -webkit-filter: blur(32px);
          filter: blur(32px);
}

.percent {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-right: -20px;
  -webkit-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
}
.percent img:nth-child(1) {
  position: absolute;
  width: 57px;
  height: 56px;
}
.percent img {
  position: absolute;
  width: 22px;
  height: 22px;
  margin: auto auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.percent div {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 105px;
  background: radial-gradient(50% 50% at 50% 50%, #F64F00 0%, rgba(246, 79, 0, 0) 100%);
  -webkit-filter: blur(32px);
          filter: blur(32px);
}

form {
  position: relative;
}

.form-group {
  color: #7D7D7D;
  width: 445px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 56px;
  border-bottom: 1px solid #7d7d7d70;
  padding: 0px 0px 10px;
  font-family: inherit;
}
.form-group input {
  width: 100%;
  outline: none;
  background: transparent;
  color: #fff;
}

.stripes {
  position: absolute;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
}
.stripes_blue {
  padding-right: 20px;
  margin-left: -10px;
  position: relative;
  width: 100vw;
  height: 60px;
  background: #0178F3;
  -webkit-transform: rotate(5.09deg);
          transform: rotate(5.09deg);
  color: #F5F5F5;
  z-index: 2;
}
.stripes_blue__sentence1 {
  position: absolute;
  width: 4000px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: 15s linear infinite stripe1;
          animation: 15s linear infinite stripe1;
}
.stripes_blue__sentence2 {
  position: absolute;
  width: 4000px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate(-4000px, 0px);
          transform: translate(-4000px, 0px);
  -webkit-animation: 15s linear infinite stripe2;
          animation: 15s linear infinite stripe2;
}
.stripes_white {
  padding-right: 20px;
  margin-left: -10px;
  position: relative;
  width: 100vw;
  height: 60px;
  background: #F5F5F5;
  -webkit-transform: translate(0vw, -61px) rotate(-2.51deg);
          transform: translate(0vw, -61px) rotate(-2.51deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #333333;
  color: #333333;
  z-index: 1;
}
.stripes_white__sentence1 {
  position: absolute;
  width: 4000px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: 15s linear infinite stripe1;
          animation: 15s linear infinite stripe1;
}
.stripes_white__sentence2 {
  position: absolute;
  width: 4000px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate(-4000px, 0px);
          transform: translate(-4000px, 0px);
  -webkit-animation: 15s linear infinite stripe2;
          animation: 15s linear infinite stripe2;
}

@-webkit-keyframes stripe1 {
  100% {
    -webkit-transform: translate(4000px, 0vw);
            transform: translate(4000px, 0vw);
  }
}

@keyframes stripe1 {
  100% {
    -webkit-transform: translate(4000px, 0vw);
            transform: translate(4000px, 0vw);
  }
}
@-webkit-keyframes stripe2 {
  100% {
    -webkit-transform: translate(0vw, 0vw);
            transform: translate(0vw, 0vw);
  }
}
@keyframes stripe2 {
  100% {
    -webkit-transform: translate(0vw, 0vw);
            transform: translate(0vw, 0vw);
  }
}
footer {
  padding-top: 100px;
  height: 671px;
  position: relative;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .container {
  width: 1186px;
}
footer .wrapper .container .logo-small-with-icons {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .container .logo-small-with-icons img {
  width: 261px;
  height: 27px;
}
footer .wrapper .container .logo-small-with-icons .icons {
  margin-left: 50px;
  width: 96px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .wrapper .container .logo-small-with-icons .icons a:nth-child(1) {
  width: 40px;
  height: 40px;
  background-image: url("../img/footer/tg.svg");
  background-size: contain;
}
footer .wrapper .container .logo-small-with-icons .icons a:nth-child(2) {
  width: 40px;
  height: 40px;
  background-image: url("../img/footer/vk.svg");
  background-size: contain;
}
footer .wrapper .container .contacts {
  padding-top: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  display: -ms-grid;
  display: grid;
  grid-gap: 167px;
  -ms-grid-columns: 352px 167px auto;
  grid-template-columns: 352px auto;
}
footer .wrapper .container .contacts .thin {
  color: #BCBCBC;
  padding-top: 16px;
  margin-bottom: 4px;
}
footer .wrapper .container .contacts .bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 24px;
}
footer .wrapper .container .contacts_row-requisites a {
  color: #BCBCBC;
  text-decoration: underline;
}
footer .wrapper .container .contacts_row-requisites a:hover {
  color: #000;
}
footer .wrapper .container .contacts_row-requisites__sub-columns {
  display: -ms-grid;
  display: grid;
  grid-gap: 167px;
  -ms-grid-columns: 138px 167px 168px;
  grid-template-columns: 138px 168px;
}
footer .wrapper .container .contacts_row-requisites__bottom {
  color: #7D7D7D;
  padding-top: 68px;
  padding-bottom: 8px;
}
footer .wrapper .container .contacts_row-about-company a {
  color: #333333;
  display: block;
  margin-bottom: 16px;
}
footer .wrapper .container .contacts_row-about-company a:hover {
  color: #000;
}
footer .wrapper .container .contacts_row-about-company_columns {
  display: -ms-grid;
  display: grid;
  grid-gap: 80px;
  -ms-grid-columns: 200px 80px 386px;
  grid-template-columns: 200px 386px;
}
footer .wrapper .container .contacts_row-about-company_sub-columns {
  padding-top: 56px;
  display: -ms-grid;
  display: grid;
  grid-gap: 80px;
  -ms-grid-columns: 200px 80px 191px 80px 132px;
  grid-template-columns: 200px 191px 132px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
footer .wrapper .container .contacts_row-about-company_sub-columns img {
  margin-bottom: 16px;
}

@media (max-width: 1590px) {
  .main-info_discount__text h3 {
    font-size: 50px;
  }
  .main-info_discount__circle {
    min-width: 636px;
    height: 636px;
  }
  .main-info_discount__circle_hidden {
    width: 536px;
    height: 536px;
  }

  .lightning {
    width: 55px;
    height: 55px;
    -webkit-transform: none;
            transform: none;
  }
  .lightning img {
    width: 64px;
    height: 63px;
  }
  .lightning div {
    width: 105px;
    height: 105px;
    top: -20px;
    left: -20px;
  }

  .percent {
    width: 55px;
    height: 55px;
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
    margin-right: 0px;
  }
}
@media (max-width: 1250px) {
  .main-info {
    height: 3100px;
  }
  .main-info_discount {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-info_discount__text h3 {
    font-size: 40px;
  }
  .main-info_discount__circle {
    min-width: 536px;
    height: 536px;
  }
  .main-info_discount__circle_hidden {
    width: 436px;
    height: 436px;
  }
  .main-info_ideal-hockey-stick {
    height: 800px;
  }
  .main-info_ideal-hockey-stick .charger {
    top: 405px;
  }
  .main-info_ideal-hockey-stick img {
    width: 800px;
    height: 565px;
  }
  .main-info_about-brand {
    height: 1150px;
  }
  .main-info_about-brand_info__expanded img {
    width: 450px;
    height: 261px;
  }

  .discount {
    top: -100px;
    right: -200px;
  }

  .do-test {
    top: 557px;
  }

  footer .wrapper .container {
    width: 980px;
  }
  footer .wrapper .container .contacts {
    grid-gap: 50px;
  }
  footer .wrapper .container .contacts_row-requisites__sub-columns {
    grid-gap: 50px;
  }
  footer .wrapper .container .contacts_row-about-company_columns {
    grid-gap: 40px;
  }
  footer .wrapper .container .contacts_row-about-company_sub-columns {
    -ms-grid-columns: 200px 40px 386px;
    grid-template-columns: 200px 386px;
    grid-gap: 40px;
  }
}
/* md-размер (<=991px) */
@media (max-width: 991px) {
  .discount_text {
    font-size: 14px;
  }

  header .menu {
    position: relative;
    width: 100%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    color: #131111;
  }
  header .menu .header_button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .menu .logo-with-languages {
    display: none;
  }
  header .menu .header_icons {
    display: none;
  }
  header .menu .nav-links {
    top: 60px;
    left: -100vw;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 700;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  header .menu .nav-links a {
    margin-left: 0px;
  }
  header .open .nav-links {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  header .open .header_button__menu-burger div:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(45deg);
            transform: translateY(4px) rotate(45deg);
  }
  header .open .header_button__menu-burger div:nth-child(2) {
    opacity: 0;
  }
  header .open .header_button__menu-burger div:nth-child(3) {
    -webkit-transform: translateY(-2px) rotate(-45deg);
            transform: translateY(-2px) rotate(-45deg);
  }

  .balls {
    display: none;
  }

  .info-ball {
    width: 100px;
    height: 100px;
  }

  .in-catalog {
    top: 168px;
  }

  .review {
    top: 306px;
    left: 40%;
  }

  .charger-slider {
    height: 100%;
    padding-top: 100px;
  }
  .charger-slider_charger {
    display: none;
    width: 90%;
    height: 117px;
  }
  .charger-slider_slider {
    width: 100vw;
  }
  .charger-slider_slider__card {
    width: 90vw;
  }
  .charger-slider_slider__card img {
    width: 90vw;
  }
  .charger-slider_slider__card .review {
    top: 45%;
  }
  .charger-slider_slider__card .review h3, .charger-slider_slider__card .review h4 {
    display: none;
  }

  .main-info {
    height: 100%;
    padding-bottom: 30px;
  }
  .main-info_about-brand {
    height: 100%;
    position: relative;
  }
  .main-info_about-brand_info {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .main-info_about-brand_info__expanded img {
    width: 450px;
    height: 261px;
  }

  .more-about-company {
    top: 30px;
  }

  .discount {
    top: -250px;
    left: 350px;
  }

  footer .wrapper .container {
    width: 680px;
  }
  footer .wrapper .container .contacts {
    grid-gap: 20px;
  }
  footer .wrapper .container .contacts_row-requisites__sub-columns {
    grid-gap: 50px;
  }
  footer .wrapper .container .contacts_row-about-company_columns {
    grid-gap: 40px;
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  footer .wrapper .container .contacts_row-about-company_sub-columns {
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
}
/* sm-размер (<=768px) */
@media (max-width: 767px) {
  .main-info {
    height: 100%;
    padding-bottom: 30px;
  }
  .main-info_ideal-hockey-stick {
    height: 450px;
  }
  .main-info_ideal-hockey-stick .charger {
    display: none;
  }
  .main-info_ideal-hockey-stick img {
    display: none;
  }
  .main-info_about-brand {
    height: 100%;
    padding: 0 30px;
    position: relative;
  }
  .main-info_about-brand h3 {
    font-size: 20px;
    line-height: 1.3;
  }
  .main-info_about-brand_info {
    -ms-grid-columns: minmax(200px, auto);
    grid-template-columns: minmax(200px, auto);
  }
  .main-info_about-brand_info__expanded img {
    display: none;
  }

  .do-test {
    left: 45vw;
    top: 300px;
  }

  footer {
    padding-top: 20px;
  }
  footer .wrapper .logo-small-with-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .wrapper .container {
    width: 680px;
  }
  footer .wrapper .container .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .wrapper .container .contacts_row-requisites {
    display: none;
  }
  footer .wrapper .container .contacts_row-about-company {
    padding: 0 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 15px 1fr;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 15px;
  }
  footer .wrapper .container .contacts_row-about-company_columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .wrapper .container .contacts_row-about-company_sub-columns {
    padding-top: 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-gap: 0;
  }
}
/* xs-размер (<=575px) */
@media (max-width: 575px) {
  .info-ball {
    display: none;
  }

  .review h3 {
    font-size: 14px;
  }
  .review h4 {
    font-size: 12px;
  }

  .rolling-inscription {
    display: none;
  }
  .rolling-inscription_text {
    font-size: 12px;
  }

  .stripes {
    display: none;
  }

  .main-info_ideal-hockey-stick {
    height: 100%;
    padding-bottom: 150px;
  }
  .main-info_ideal-hockey-stick__text {
    padding-top: 10px;
  }
  .main-info_ideal-hockey-stick__text h3 {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .main-info_ideal-hockey-stick__text p {
    padding: 0 20px;
  }
  .main-info_about-brand {
    margin-left: 0;
  }
  .main-info_about-brand h3 {
    margin-left: 0;
  }
  .main-info_discount {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  .main-info_discount__text {
    width: 100%;
    margin-left: 0;
  }
  .main-info_discount__text h3 {
    font-size: 40px;
    text-align: center;
  }
  .main-info_discount__circle {
    min-width: 336px;
    height: 336px;
  }
  .main-info_discount__circle_hidden {
    width: 236px;
    height: 236px;
  }

  .do-test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 150px;
    left: 40vw;
  }

  footer {
    height: 100%;
    font-size: 12px;
  }
}
html, body {
  background-color: #F5F5F5;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}