@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Raleway&display=swap";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a a:hover, a:visited a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
  background-color: #131111;
  font-size: 16px;
  line-height: 22px;
  color: #7D7D7D;
}
header a {
  color: #7D7D7D;
}
header a:hover {
  color: #D8D8D8;
}
header .logo-with-languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .logo-with-languages_logo {
  width: 62px;
  height: 30px;
}
header .logo-with-languages_languages {
  margin-left: 0px;
  width: 57px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .nav-links a {
  margin-left: 24px;
}
header .header_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header .header_icons > div {
  width: 26px;
  height: 26px;
}
header .header_icons > div > a {
  display: block;
  width: 26px;
  height: 26px;
}
header .header_icons > div > a:hover .circle {
  display: block;
}
header .header_icons__circle {
  display: none;
  top: -50%;
  left: -45%;
  width: 50px;
  height: 50px;
  position: absolute;
  border: 1px solid #F5F5F5;
  border-radius: 50%;
}
header .header_icons__loupe {
  background-image: url("../img/header/loupe.svg");
  position: relative;
}
header .header_icons__phone {
  margin-left: 16px;
  position: relative;
  background-image: url("../img/header/telephone.svg");
}
header .header_icons__statistics {
  margin-left: 16px;
  position: relative;
  background-image: url("../img/header/statistics.svg");
}
header .header_icons__person {
  margin-left: 16px;
  position: relative;
  background-image: url("../img/header/person.svg");
}
header .header_icons__basket {
  position: relative;
  margin-left: 37px;
  background-image: url("../img/header/shopping-cart.svg");
}

.red-ball {
  position: absolute;
  top: 181px;
  left: 15vw;
  width: 35vw;
  height: 634px;
  background: radial-gradient(50% 50% at 50% 50%, #F64F00 0%, rgba(246, 79, 0, 0) 100%);
  -webkit-filter: blur(32px);
          filter: blur(32px);
}

.blue-ball {
  position: absolute;
  top: 108px;
  left: 44vw;
  width: 45vw;
  height: 645px;
  background: radial-gradient(50% 50% at 50% 50%, #0178F3 0%, rgba(1, 120, 243, 0) 100%);
  -webkit-filter: blur(32px);
          filter: blur(32px);
}

.info-ball {
  cursor: pointer;
  position: absolute;
  width: 150px;
  height: 150px;
  background: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.in-catalog {
  left: 73vw;
  top: 168px;
  z-index: 1;
}
.in-catalog:hover {
  -webkit-box-shadow: 0px 0px 10px #ffffff;
          box-shadow: 0px 0px 10px #ffffff;
}
.in-catalog_text {
  width: 75px;
  height: 20px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.do-test {
  left: 67vw;
  top: 657px;
}
.do-test_text {
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.do-test:hover {
  -webkit-box-shadow: 0px 0px 10px #ffffff;
          box-shadow: 0px 0px 10px #ffffff;
}

.more-about-company {
  border: 1px solid #F64F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F64F00;
}
.more-about-company_text {
  width: 91px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.more-about-company:hover {
  -webkit-box-shadow: 0px 0px 10px #000000;
          box-shadow: 0px 0px 10px #000000;
}

.discount {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  background: #FFFFFF;
}
.discount_text {
  cursor: pointer;
  color: #333333;
  width: 104px;
  padding: 0;
  margin: 0;
  height: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.discount:hover {
  -webkit-box-shadow: 0px 0px 10px #ffffff;
          box-shadow: 0px 0px 10px #ffffff;
}

.connect {
  left: 74%;
  top: 100px;
  border: 1px solid #F64F00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F64F00;
}
.connect_text {
  text-align: center;
  width: 89px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.connect:hover {
  -webkit-box-shadow: 0px 0px 10px #000000;
          box-shadow: 0px 0px 10px #000000;
}

.button-shevron {
  cursor: pointer;
  position: absolute;
  width: 78px;
  height: 58px;
  border: 1px solid #7D7D7DCC;
  z-index: 2;
}
.button-shevron:hover {
  border: 1px solid black;
}
.button-shevron__left {
  border-radius: 30px 0px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button-shevron__left > div {
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url("../img/charger-slider/shevron.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.button-shevron__right {
  border-radius: 0px 30px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button-shevron__right > div {
  width: 18px;
  height: 18px;
  background-image: url("../img/charger-slider/shevron.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.charger-slider {
  height: 910px;
  background-color: #131111;
  padding-top: 40px;
  margin-bottom: 103px;
}
.charger-slider_charger {
  width: 1096px;
  height: 117px;
  margin: 0 auto 22px;
}
.charger-slider_charger img {
  width: 100%;
  height: 100%;
}
.charger-slider_slider {
  position: relative;
  display: block;
}
.charger-slider_slider .button-shevron {
  top: 50%;
}
.charger-slider_slider .button-shevron__left {
  left: 18%;
}
.charger-slider_slider .button-shevron__right {
  right: 18%;
}
.charger-slider_slider__cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.charger-slider_slider__card {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 200px;
  width: 992px;
  height: 601px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 100px 0px;
}
.charger-slider_slider__card--active {
  opacity: 1;
}

.review {
  position: absolute;
  width: 281px;
  height: 269px;
  left: 70%;
  top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.review h3 {
  font-weight: 600;
  font-size: 24px;
  color: #F5F5F5;
  line-height: 120%;
  margin-bottom: 10px;
}
.review h4 {
  width: 177px;
  font-weight: 400;
  font-size: 16px;
  color: #F5F5F5;
  line-height: 22px;
  margin-bottom: 32px;
}

.rolling-inscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 1px solid #F5F5F5;
}
.rolling-inscription_text {
  position: absolute;
  width: 125px;
  height: 125px;
  color: #F5F5F5;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-animation: rotateText 10s linear infinite;
          animation: rotateText 10s linear infinite;
}
.rolling-inscription_play {
  position: absolute;
  cursor: pointer;
  width: 27px;
  height: 27px;
  background: url(../img/info-ball/play.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.rolling-inscription span {
  padding-top: 4px;
  position: absolute;
  left: 50%;
  font-size: 10px;
  -webkit-transform-origin: -1px 62px;
          transform-origin: -1px 62px;
}

@-webkit-keyframes rotateText {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateText {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.hockey-sticks-with-stripes {
  height: 866px;
  position: relative;
}

.hockey-sticks {
  width: 1218px;
  margin: 0 auto;
  color: #333333;
}
.hockey-sticks_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.hockey-sticks_nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hockey-sticks_nav .button-shevron {
  position: static;
}
.hockey-sticks h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
}
.hockey-sticks_sticks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.hockey-sticks_sticks__stick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hockey-sticks_sticks__stick_price {
  padding-top: 8px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.hockey-sticks_sticks__stick img {
  height: 282px;
  width: 271px;
}
.hockey-sticks_sticks__stick p {
  font-size: 18px;
  line-height: 24px;
}

.buttons-more-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buttons-more-statistics .button-shevron {
  position: static;
  height: 50px;
}
.buttons-more-statistics .button-shevron__left {
  min-width: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}
.buttons-more-statistics .button-shevron__left div {
  width: 26px;
  height: 26px;
  background-image: url("../img/hockey-sticks/statistics.svg");
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.buttons-more-statistics .button-shevron__right {
  width: 207px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.buttons-more-statistics .button-shevron__right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: none;
  width: 159px;
  height: 22px;
}
.buttons-more-statistics .button-shevron__right div p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.buttons-more-statistics .button-shevron__right div div {
  background-image: url("../img/hockey-sticks/shevron.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.main-info {
  position: relative;
  background-color: #131111;
  height: 3230px;
}
.main-info_ideal-hockey-stick {
  height: 971px;
}
.main-info_ideal-hockey-stick .charger {
  position: absolute;
  width: 1218px;
  height: 130px;
  margin: 0 auto;
  top: 505px;
  left: 0;
  right: 0;
}
.main-info_ideal-hockey-stick__text {
  padding-top: 100px;
}
.main-info_ideal-hockey-stick__text h3 {
  width: 630px;
  margin: 0 auto 24px;
  color: #F5F5F5;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
}
.main-info_ideal-hockey-stick__text h4 {
  width: 546px;
  height: 24px;
  margin: 0 auto 55px;
  color: #D8D8D8;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.main-info_ideal-hockey-stick > img {
  position: absolute;
  top: 307px;
  left: 20vw;
  width: 1048px;
  height: 741px;
}
.main-info_about-brand {
  height: 1323px;
  margin-left: 190px;
  background: #F5F5F5;
  border-radius: 100px 0px 0px 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 134px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 134px;
     -moz-column-gap: 134px;
          column-gap: 134px;
  color: #333333;
}
.main-info_about-brand__text {
  width: 491px;
  padding-top: 100px;
  margin-left: 160px;
}
.main-info_about-brand__text h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 24px;
}
.main-info_about-brand__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 40px;
}
.main-info_about-brand__flex {
  width: 594px;
  padding-top: 179px;
}
.main-info_about-brand__flex h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 16px;
}
.main-info_about-brand__flex p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}
.main-info_about-brand__flex img {
  margin-bottom: 54px;
}
.main-info_discount {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 271px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 271px;
     -moz-column-gap: 271px;
          column-gap: 271px;
  padding-top: 117px;
}
.main-info_discount__text {
  width: 662px;
  margin-left: 350px;
}
.main-info_discount__text h3 {
  font-weight: 700;
  font-size: 90px;
  line-height: 104px;
  color: #131111;
  text-shadow: 1px 0px 2px #BCBCBC, 0px 1px 2px #BCBCBC, -1px 0px 2px #BCBCBC, 0px -1px 2px #BCBCBC;
  margin-bottom: 40px;
}
.main-info_discount__text h3 span:nth-child(4) {
  color: #fff;
  text-shadow: none;
}
.main-info_discount__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #BCBCBC;
  margin-bottom: 32px;
}
.main-info_discount__text input {
  color: #7D7D7D;
}
.main-info_discount__circle {
  border: 1px solid #333333;
  border-radius: 50%;
  width: 736px;
  height: 736px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-info_discount__circle_hidden {
  border-radius: 50%;
  overflow: hidden;
  width: 655px;
  height: 655px;
}
.main-info_discount__circle_hidden div {
  background-image: url("../img/main-info/hockey_player_circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 655px;
  height: 655px;
}

.lightning {
  position: relative;
  display: inline-block;
  width: 105px;
  height: 105px;
  -webkit-transform: translate(-40px, 25px);
          transform: translate(-40px, 25px);
}
.lightning img {
  position: absolute;
  width: 64px;
  height: 63px;
  margin: auto auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.lightning > div {
  border: 1px solid #d81111;
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 105px;
  background: radial-gradient(50% 50% at 50% 50%, #0178F3 0%, rgba(1, 120, 243, 0) 100%);
  -webkit-filter: blur(32px);
          filter: blur(32px);
}

.percent {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-right: -20px;
  -webkit-transform: translate(0px, 20px);
          transform: translate(0px, 20px);
}
.percent img:nth-child(1) {
  position: absolute;
  width: 57px;
  height: 56px;
}
.percent img {
  position: absolute;
  width: 22px;
  height: 22px;
  margin: auto auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.percent div {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 105px;
  background: radial-gradient(50% 50% at 50% 50%, #F64F00 0%, rgba(246, 79, 0, 0) 100%);
  -webkit-filter: blur(32px);
          filter: blur(32px);
}

.form-group {
  color: #7D7D7D;
  width: 445px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 56px;
  border-bottom: 1px solid #7d7d7d70;
  padding: 0px 0px 10px;
  font-family: inherit;
}
.form-group input {
  background: transparent;
  color: #fff;
}

.stripes {
  position: absolute;
  text-transform: uppercase;
  top: 735px;
  font-size: 18px;
  line-height: 22px;
}
.stripes_blue {
  padding-right: 20px;
  margin-left: -10px;
  position: relative;
  width: 100vw;
  height: 60px;
  background: #0178F3;
  -webkit-transform: rotate(5.09deg);
          transform: rotate(5.09deg);
  color: #F5F5F5;
  z-index: 2;
}
.stripes_blue__sentence1 {
  position: absolute;
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: 10s linear infinite stripe1;
          animation: 10s linear infinite stripe1;
}
.stripes_blue__sentence2 {
  position: absolute;
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate(-100vw, 0px);
          transform: translate(-100vw, 0px);
  -webkit-animation: 10s linear infinite stripe2;
          animation: 10s linear infinite stripe2;
}
.stripes_white {
  padding-right: 20px;
  margin-left: -10px;
  position: relative;
  width: 100vw;
  height: 60px;
  background: #F5F5F5;
  -webkit-transform: translate(0vw, -61px) rotate(-2.51deg);
          transform: translate(0vw, -61px) rotate(-2.51deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #333333;
  color: #333333;
  z-index: 1;
}
.stripes_white__sentence1 {
  position: absolute;
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: 10s linear infinite stripe1;
          animation: 10s linear infinite stripe1;
}
.stripes_white__sentence2 {
  position: absolute;
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate(-100vw, 0px);
          transform: translate(-100vw, 0px);
  -webkit-animation: 10s linear infinite stripe2;
          animation: 10s linear infinite stripe2;
}

@-webkit-keyframes stripe1 {
  100% {
    -webkit-transform: translate(100vw, 0vw);
            transform: translate(100vw, 0vw);
  }
}

@keyframes stripe1 {
  100% {
    -webkit-transform: translate(100vw, 0vw);
            transform: translate(100vw, 0vw);
  }
}
@-webkit-keyframes stripe2 {
  100% {
    -webkit-transform: translate(0vw, 0vw);
            transform: translate(0vw, 0vw);
  }
}
@keyframes stripe2 {
  100% {
    -webkit-transform: translate(0vw, 0vw);
            transform: translate(0vw, 0vw);
  }
}
footer {
  padding-top: 100px;
  height: 671px;
  position: relative;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .container {
  width: 1186px;
}
footer .wrapper .container .logo-small-with-icons {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .container .logo-small-with-icons img {
  width: 261px;
  height: 27px;
}
footer .wrapper .container .logo-small-with-icons .icons {
  margin-left: 50px;
  width: 96px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .wrapper .container .logo-small-with-icons .icons a:nth-child(1) {
  width: 40px;
  height: 40px;
  background-image: url("../img/footer/tg.svg");
  background-size: contain;
}
footer .wrapper .container .logo-small-with-icons .icons a:nth-child(2) {
  width: 40px;
  height: 40px;
  background-image: url("../img/footer/vk.svg");
  background-size: contain;
}
footer .wrapper .container .contacts {
  padding-top: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  display: -ms-grid;
  display: grid;
  grid-gap: 167px;
  -ms-grid-columns: 352px 167px auto;
  grid-template-columns: 352px auto;
}
footer .wrapper .container .contacts .thin {
  color: #BCBCBC;
  padding-top: 16px;
  margin-bottom: 4px;
}
footer .wrapper .container .contacts .bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 24px;
}
footer .wrapper .container .contacts_row-requisites a {
  color: #BCBCBC;
  text-decoration: underline;
}
footer .wrapper .container .contacts_row-requisites a:hover {
  color: #000;
}
footer .wrapper .container .contacts_row-requisites__sub-columns {
  display: -ms-grid;
  display: grid;
  grid-gap: 167px;
  -ms-grid-columns: 138px 167px 168px;
  grid-template-columns: 138px 168px;
}
footer .wrapper .container .contacts_row-requisites__bottom {
  color: #7D7D7D;
  padding-top: 68px;
  padding-bottom: 8px;
}
footer .wrapper .container .contacts_row-about-company a {
  display: block;
  margin-bottom: 16px;
}
footer .wrapper .container .contacts_row-about-company a:hover {
  color: #000;
}
footer .wrapper .container .contacts_row-about-company_columns {
  display: -ms-grid;
  display: grid;
  grid-gap: 80px;
  -ms-grid-columns: 200px 80px 386px;
  grid-template-columns: 200px 386px;
}
footer .wrapper .container .contacts_row-about-company_sub-columns {
  padding-top: 56px;
  display: -ms-grid;
  display: grid;
  grid-gap: 80px;
  -ms-grid-columns: 200px 80px 191px 80px 132px;
  grid-template-columns: 200px 191px 132px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
footer .wrapper .container .contacts_row-about-company_sub-columns img {
  margin-bottom: 16px;
}

html, body {
  background-color: #F5F5F5;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  .charger-slider_charger {
    width: 100vw;
  }
}
/* md-размер (<=991px) */
@media (max-width: 991px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    height: 150px;
  }
  header .logo-with-languages {
    padding: 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo-with-languages_languages {
    padding-top: 10px;
    margin-left: 0px;
  }
  header .nav-links {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .nav-links a {
    margin-left: 0px;
  }
  header .header_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .header_icons div {
    margin-left: 0px;
  }

  .info-ball {
    width: 100px;
    height: 100px;
  }

  .charger-slider_charger {
    display: none;
  }
  .charger-slider_slider {
    width: 100vw;
  }
  .charger-slider_slider__card {
    width: 100vw;
  }
  .charger-slider_slider__card img {
    width: 100vw;
  }

  .charger-slider_slider .button-shevron {
    top: 20%;
  }
}
/* sm-размер (<=768px) */
/* xs-размер (<=575px) */
@media (max-width: 575px) {
  header {
    border: 1px sold #e61414;
    height: 150px;
  }

  .review h3 {
    font-size: 14px;
  }
  .review h4 {
    font-size: 12px;
  }

  .rolling-inscription_text {
    font-size: 12px;
  }
}