@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body {
	background-color: #F5F5F5;
	font-family: 'Raleway', sans-serif;
}

a {
	color: #7D7D7D;
}

a:hover {
	color: #D8D8D8;
}

.conteiner {
	width: 1920px;
}

header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: calc(50% - 1920px/2); */
	height: 80px;
	background-color: #131111;
	font-size: 16px;
	line-height: 22px;
	color: #7D7D7D;
	/* margin: 0 auto; */
}

.top_part {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header_icons {
	/* position: absolute; */
}

img {
	vertical-align: top;
}

.header_icons > a > img {
	height: 20px;
	width: 20px;
}

.logo {
	width: 62px;
	height: 30px;
}

.languages {
	margin-left:40px;
	display: flex;
}


.items {
	margin-left: 175px;
	top: 30px;
}

.items > a {
	margin-left: 24px;
}

.header_icons {
	/* padding-top: 30px; */
	margin-left: 106px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}


.header_icons > a {
	margin-left: 23px;
	position: relative;
}




.loupe {
	position: relative;
}

.loupe span {
	position: absolute;
	left: 15px;
	top: 15px;
}

.circle{
	/* opacity: 0; */
	top: -50%;
	left: -50%;
	width: 50px;
	height: 50px;
	position: absolute;
	border: 1px solid #F5F5F5;
	border-radius: 50%;
	z-index: 0;	
}

.loupe > a:hover .circle{
	opacity: 1;
	z-index: 2;
	
}

.person {
	margin-left: 23px;
	width: 20px;
	position: relative;
}


.person a > img{
	width: 9px;
	margin-left: 4px;
}

.person > a > span > img{
	position: absolute;
	top: 9px;
	left: -1px;
}

.basket {
	position: relative;
	margin-left: 44px;
	Width:25px;
	Height:55px;
	/* border-radius: 50%; */

}

.basket > a > img {
	position: absolute;
	width: 20px;
	height: 13px;
	top: 15px;
	/* left: 13px; */
}

.basket > a {
	position: relative;
}

.basket_spans > span:nth-child(1){
	position: absolute;
	top: 30px;
	left: 4px;
}

.basket_spans > span:nth-child(2){
	position: absolute;
	top: 30px;
	left: 14px;
}