@import "https://fonts.googleapis.com/css2?family=Raleway&display=swap"

// файл, обнуляющий основные параметры
@import nullifying
// это хедер :)
@import header
// стиль для фоновых градиентных шаров
@import balls
// ссылки и подписки в виде круга
@import info-ball
// кнопки для слайдеров
@import button-shevron
// слайдер для изображений
@import charger-slider
// слайдер для товаров
@import hockey-sticks
// блок и информацией о продуктах и техноологиях компании
@import main-info
// бегущие строки
@import stripes
// это футер :)
@import footer
// адаптив
@import media-queries

html, body
	background-color: #F5F5F5
	font-family: 'Raleway', sans-serif
	overflow-x: hidden

